* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

body {
  background: url("https://tranduong3701.github.io/my-site/assets/img/bgg.jpg")
    center no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

label {
  cursor: pointer;
}

.text-white,
.nav-menu a:hover {
  color: #fff;
}

.margin-bottom-16px {
  margin-bottom: 16px;
}

.text-green {
  color: #18d26e;
}

.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-centre {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.grid-gap-40px {
  grid-gap: 40px;
}

#header {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.container-h {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  transition: all 0.3s ease-in-out;
}

.nav-menu a {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.nav-menu .active {
  opacity: 1;
}

.nav-menu .active::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 70%;
  left: 0;
  bottom: -5px;
  background-color: #18d26e;
}

.nav-menu a::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0px;
  left: 0;
  bottom: -5px;
  background-color: #18d26e;
  transition: all 0.3s ease-in-out;
}

.nav-menu a:hover {
  opacity: 1;
}

.nav-menu a:hover::before {
  width: 70%;
}

/* nav-tablet&mobile */
.nav-menu-btn,
.nav-close-btn {
  position: absolute;
  top: 26px;
  right: 26px;
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 24px;
  line-height: 26px;
  cursor: pointer;
  display: none;
}

.nav-close-btn {
  z-index: 1;
  opacity: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  animation: fadeIn linear 0.3s;
}

.nav-mobile {
  position: fixed;
  top: 55px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  z-index: 1;
  display: none;
  animation: fadeIn linear 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-mobile ul {
  padding: 0 20px;
}

.nav-mobile .active {
  color: #18d26e;
}

.nav-mobile ul li {
  margin: 16px 0;
}

.nav-mobile ul li a:hover {
  color: #18d26e;
}

.nav-input:checked ~ .nav-mobile {
  display: block;
}

.nav-input:checked ~ .overlay {
  display: block;
}

.nav-input:checked ~ .nav-close-btn {
  opacity: 1;
}

.nav-input:checked ~ .nav-menu-btn {
  opacity: 0;
}

/* nav-mobile-end */

.container {
  width: 1140px;
  margin: 100px auto auto;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
  margin-bottom: 48px;
  transition: all 0.3s ease-in-out;
}

.title-wrap {
  margin-bottom: 16px;
}

.title-wrap p {
  font-size: 36px;
  font-weight: 700;
}

.info-wrap {
  padding: 16px 0;
}

.info-avt {
  width: 33.33333%;
  margin-right: 20px;
}

.info-about {
  width: 66.66667%;
}

.info-avt img {
  width: 100%;
  border-radius: 50%;
}

.about-another ul li {
  margin-bottom: 8px;
}

.about-another ul li span {
  font-weight: 500;
  margin-left: 4px;
}

.about-another ul li i {
  color: #18d26e;
  font-size: 20px;
}

.project-wrap {
  padding: 32px 0;
}

.project-item {
  width: 22%;
  padding: 30px 16px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-info span {
  font-size: 30px;
  font-weight: 500;
}

.project-info i {
  position: absolute;
  top: -25px;
  font-size: 24px;
  height: 48px;
  width: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  color: #18d26e;
}

.skill-wrap {
  padding: 32px 0;
}

.skill-title p,
.interest-title p,
.comment-title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #aaaaaa;
  line-height: 1px;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
}

.skill-title p::after,
.interest-title p::after,
.comment-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 100px;
  position: absolute;
  right: -120px;
  background-color: #18d26e;
}

.skill-list {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
}

.skill {
  width: 50%;
  padding: 0 8px;
}

.skill-item {
  margin-bottom: 16px;
}

.skill-name {
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
}

.skill-name p {
  font-weight: 500;
  font-size: 14px;
}

.skill-name p img {
  height: 16px;
  vertical-align: middle;
}

.skill-bar {
  width: 100%;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.skill-bar .percent {
  background-color: #18d26e;
  height: 10px;
  animation: Run linear 1s;
}

@keyframes Run {
  from {
    transform:translateX(-100%);
    opacity: 0;
  } to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.interest-wrap {
  padding: 32px 0;
}

.interest-list {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  justify-content: space-between;
}

.interest-item {
  width: 23%;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.interest-item i {
  margin-right: 8px;
  font-size: 32px;
}

.interest-item p {
  font-weight: 500;
}

.comment-wrap {
  padding: 32px 0;
}

.comment-slide {
  overflow: hidden;
}

.comment-list {
  display: flex;
  width: calc(100% * 2);
}

.comment-item {
  width: calc(100% / 6);
  padding: 0 8px;
  transition: 0.6s;
}

.comment-item .cmt {
  padding: 20px 20px 60px;
  background-color: rgba(255, 255, 255, 0.1);
  font-style: italic;
  border-radius: 5px;
}

.comment-info img {
  height: 100px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.2);
}

.comment-info .info {
  position: relative;
  top: -35px;
  margin-left: 20px;
}

.comment-info .info p {
  font-size: 14px;
  color: #aaaaaa;
}

/* comment slide */
#slide2:checked ~ .comment-slide .s1 {
  margin-left: -50%;
}

#slide2:checked ~ .btn-dots .active-1,
#slide3:checked ~ .btn-dots .active-1,
#slide4:checked ~ .btn-dots .active-1,
#slide5:checked ~ .btn-dots .active-1,
#slide6:checked ~ .btn-dots .active-1 {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.active-1,
#slide2:checked ~ .btn-dots .active-2,
#slide3:checked ~ .btn-dots .active-3,
#slide4:checked ~ .btn-dots .active-4,
#slide5:checked ~ .btn-dots .active-5,
#slide6:checked ~ .btn-dots .active-6 {
  background-color: #18d26e !important;
}

.btn-dots {
  text-align: center;
}

.btn-dots label {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
}

.btn-dots .active-3,
.btn-dots .active-4,
.btn-dots .active-5,
.btn-dots .active-6 {
  display: none;
}

/* end-slide */

.fa-quote-left {
  position: relative;
  left: -6px;
  top: -5px;
  color: #aaaaaa;
}

.fa-quote-right {
  position: relative;
  right: -6px;
  top: 5px;
  color: #aaaaaa;
}

/* reponsive */

@media (max-width: 1199px) {
  .container,
  .container-h {
    max-width: 960px;
  }
}

/* tablet */
@media (max-width: 991px) {
  .container,
  .container-h {
    width: 720px;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu-btn,
  .nav-close-btn {
    display: block;
  }

  .info-wrap,
  .about-another,
  .skill-list {
    flex-direction: column;
  }

  .info-avt {
    height: 350px;
    width: 350px;
    margin-right: 0;
  }

  .info-about,
  .skill {
    width: 100%;
  }

  .project-list {
    flex-wrap: wrap;
    gap: 48px 0;
  }

  .project-item {
    width: 48%;
  }

  .interest-item {
    width: 30%;
  }

  .comment-list {
    width: calc(100% * 3);
  }

  .comment-item {
    width: calc(100% / 6);
  }

  #slide2:checked ~ .comment-slide .s1 {
    margin-left: calc(100% / -3);
  }

  #slide3:checked ~ .comment-slide .s1 {
    margin-left: calc((100% / -3) * 2);
  }

  /* slide-btn */
  .btn-dots .active-3 {
    display: inline-block;
  }
}

/* reponsive mobile */
@media (max-width: 767px) {
  #header {
    height: 60px;
  }

  .container-h h1 {
    font-size: 28px;
  }

  .container,
  .container-h {
    width: 540px;
  }

  .container {
    margin-top: 80px;
  }

  .nav-menu-btn,
  .nav-close-btn {
    top: 16px;
    right: 16px;
  }

  .info-wrap,
  .about-another,
  .project-list,
  .skill-list,
  .interest-list {
    flex-direction: column;
  }

  .info-avt {
    height: 350px;
    width: 350px;
    margin-right: 0;
  }

  .info-about,
  .project-item,
  .skill,
  .interest-item {
    width: 100%;
  }

  .project-list {
    gap: 48px;
  }

  /* .comment-list {
    height: 310px;
    overflow-y: scroll;
  } */

  .comment-list {
    width: calc(100% * 6);
  }

  .comment-item {
    width: calc(100% / 6);
  }

  #slide2:checked ~ .comment-slide .s1 {
    margin-left: -16.66667%;
  }

  #slide3:checked ~ .comment-slide .s1 {
    margin-left: -33.33333%;
  }
  #slide4:checked ~ .comment-slide .s1 {
    margin-left: -50%;
  }
  #slide5:checked ~ .comment-slide .s1 {
    margin-left: -66.66667%;
  }
  #slide6:checked ~ .comment-slide .s1 {
    margin-left: -83.33333%;
  }
  /* slide-btn */
  .btn-dots .active-4,
  .btn-dots .active-5,
  .btn-dots .active-6 {
    display: inline-block;
  }
}

@media (max-width: 576px) {
  .container,
  .container-h {
    width: 100%;
  }
}
