@import url('./base.css');


#header {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container-h {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-menu a {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.nav-menu .active {
    opacity: 1;
}

.nav-menu .active::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 70%;
    left: 0;
    bottom: -5px;
    background-color: #18d26e;
}

.nav-menu a::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 0px;
    left: 0;
    bottom: -5px;
    background-color: #18d26e;
    transition: all 0.3s ease-in-out;
}

.nav-menu a:hover {
    opacity: 1;
}

.nav-menu a:hover::before {
    width: 70%;
}

.main-title p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #aaaaaa;
    line-height: 1px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.main-title p::after {
    content: "";
    display: block;
    height: 2px;
    width: 100px;
    position: absolute;
    right: -120px;
    background-color: #18d26e;
}

.main-title h2 {
    font-size: 36px;
    font-weight: 800;
}

.list-btn {
    display: flex;
    justify-content: center;
    grid-gap: 8px;
    margin: 32px;
}

.list-btn button {
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255,255,255,0.1);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.list-btn button:hover, .all-btn {
    background-color: #18d26e !important;
}

.portfolio-container{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 32px;
    justify-content: space-between;
}

.portfolio-item{
    width: 30%;
}

.portfolio-wrap{
    position: relative;
}

.portfolio-wrap::before {
    content: "";
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    background-color: #0008;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.portfolio-wrap:hover::before, .portfolio-wrap:hover .portfolio-info {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 1;
}

.portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
}

.portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
}

.portfolio-image{
    width: 100%;
    vertical-align: middle;
}

.portfolio-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.portfolio-info::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 35px;
    left: 35px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transition: all 0.3s ease-in-out;
}

.portfolio-info::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 35px;
    right: 35px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: all 0.3s ease-in-out;
}